.imgContainer {
	width: 50%;
	display: block;
	position: relative;
}
.imgContainer .fgImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 40px;
	left: 40px;
	z-index: 2;
	transition: all 1s;
	transform: scale(0.9);
	border-radius: 10%;
}
.imgContainer .bgImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 40px;
	left: 40px;
	transition: all 0.75s;
	z-index: 1;
	border-radius: 10%;
	filter: blur(10px);
}
* {
	box-sizing: border-box;
}
b{color:#007AFF}
body{
	background-color: #f2f2f2;
	color:#333333;
	font-family: system-ui;
	margin: auto;
	overflow-x: hidden;
}
p{
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
}
h1{
	font-size: 45px;
	font-weight: 800;
}
h2{
	font-size: 30px;
	font-weight:300;
	margin-top:-38;
}
@media (prefers-color-scheme: dark) {
	body {
		background-color:#1C1C1E;
		color: #f1f1f1;
	}
	#transaction {
		background-color: #191919;
		box-shadow: none;
	}
	p{
		color: #AAAAAA;
	}
}
@media screen and (max-width: 600px) {
	.ingContainer{
		align: center;
		width: 100%;
		border-radius: 10%;
	}
	p{
		width: 100%;
		position: static;
		text-align: center;
	}
}