.imgContainer {
	width: 50%;
	display: block;
}
.imgContainer .fgImg {
	display: block;
	position: absolute;
	top: 40px;
	left: 40px;
	z-index: 2;
	border-radius: 10%;
}
.imgContainer .bgImg {
	display: block;
	position: absolute;
	border-radius: 10%;
	top: 40px;
	left: 40px;
	z-index: 1;
	opacity: 1;
	filter: blur(10px);
	animation-name: glowShadow;
	animation-duration: 1s;
	animation-delay: -0.01s;
	transform: scale(1.1, 1.1)
}
* {
	box-sizing: border-box;
	margin: 0;
}
b{
	color:#007AFF
}
body{
	background-color: #f2f2f2;
	color:#262626;
	font-family: system-ui;
	overflow-x: hidden;
}
p{
	font-size: 20px;
	width: 50%;
	float: right;
}
h1{
	font-size: 45px;
	font-weight: 800;
}
h2{
	font-size: 30px;
	font-weight:300;
}
@keyframes glowShadow {
	10% {opacity: 0; transform: scale(1,1);}
	100% {opacity: 1; transform: scale(1.1,1.1);}
}
@media (prefers-color-scheme: dark) {
	body {
		background-color:#1C1C1E;
		color: #f1f1f1;
	}
	#transaction {
		background-color: #191919;
		box-shadow: none;
	}
	p{
		color: #e6e6e6;
	}
}
@media screen and (max-width: 600px) {
	.ingContainer{
		align: center;
		width: 100%;
		border-radius: 10%;
	}
	p{
		width: 100%;
		position: static;
		text-align: center;
	}
}